@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgb(111, 161, 161),white); */
    /* background-color: rgb(244, 230, 230); */
}
.nav{
    width: 100%;
    height: 8vh;
    background-color: rgb(155, 7, 37);
    border-bottom: 1px solid white;
   
}
.nav h3{
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    

}
.nav button{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    background-color: white;
    padding: 6px 12px;
    color: red;
    border: none;
    border-radius: 4px;


}

.details{
    width: 100%;
    margin-top: 20px;
    text-align: center;

   
}
input{
    width: 15%;
    height: 30px;
    margin-right: 10px;
    background-color: rgb(244, 231, 231);
    border: 1px solid rgb(141, 14, 14);
    border-radius: 7px;
    color: black;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

input[type="text"]:focus {
    outline: none;
  }
/* .details button{
    background-color: rgb(11, 33, 141);
   
} */

.datas{
    margin-bottom: 5px;
}

.edit{
    background-color: green;
    padding: 6px 19px;
    color: white;
    border: none;
    border-radius: 4px;
}

.delete{
    background-color: rgb(89, 38, 7);
    padding: 6px 19px;
    color: white;
    border: none;
    border-radius: 4px;
}
.save{
    background-color: rgb(22, 16, 196);
    padding: 6px 19px;
    color: white;
    border: none;
    border-radius: 4px;
}

.search{
    background-color: white;
    border: 1px solid #980000;
    color: #531414;
    width: 600px;
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;

}